<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.peng.sqlitedeveloper">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.peng.sqlitedeveloper.sqlitelookup.app.AppContext"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name="com.peng.sqlitedeveloper.sqlitelookup.app.DbActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.peng.sqlitedeveloper.sqlitelookup.app.PickDbActivity"></activity>
        <activity android:name="com.peng.sqlitedeveloper.sqlitelookup.app.DbTablesActivity"></activity>
        <activity android:name="com.peng.sqlitedeveloper.sqlitelookup.app.TableDesignActivity"></activity>
        <activity android:name="com.peng.sqlitedeveloper.sqlitelookup.app.TableDataActivity"></activity>
        <activity android:name="com.peng.sqlitedeveloper.sqlitelookup.app.RecordDetailActivity"></activity>
        <activity android:name="com.peng.sqlitedeveloper.sqlitelookup.app.SQLConsoleActivity"></activity>

    </application>

</manifest>
